<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.train.mapper.CityInfoMapper">
  <resultMap id="CityInfoResultMap" type="cn.train.enity.CityInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="saletime" jdbcType="VARCHAR" property="saletime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, saletime, address
  </sql>

  <select id="getNameByCityid" parameterType="java.lang.Integer" resultType="java.lang.String">
    select name from CityInfo where id = #{id,jdbcType=INTEGER};
  </select>



  <select id="getAllCity" resultMap="CityInfoResultMap">
    select * from CityInfo;
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="CityInfoResultMap">
    select 
    <include refid="Base_Column_List" />
    from CityInfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CityInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.train.enity.CityInfo">
    insert into CityInfo (id, name, saletime, 
      address)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{saletime,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.train.enity.CityInfo">
    insert into CityInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="saletime != null">
        saletime,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="saletime != null">
        #{saletime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.train.enity.CityInfo">
    update CityInfo
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="saletime != null">
        saletime = #{saletime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.train.enity.CityInfo">
    update CityInfo
    set name = #{name,jdbcType=VARCHAR},
      saletime = #{saletime,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>